<!DOCTYPE html>
<html>
<head>
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheet/landing.css">
<body>
<h1 class="heading">My Own YouTube Downloader !</h1>

<form action="/download" method="POST">
    <input  type="text" class="URL-input" name="url"  placeholder="Video URL e.g. https://www.youtube.com/watch?v=MtN1YnoL46Q" required>
    <button class="btn btn-lg btn-success">Convert</button>
</form>
    <script src='script.js'></script>
</body>
</html>